header{
	height: 50px;
	background-color: 	#696969;
	display: flex;
	flex-direction: row;
	align-items: center;
}
nav{
	flex: 1;
}
.numbers{
	position: absolute;
	left: 0%;
	top: 0%;
	right: 50%;
	bottom: 70%;
	
	display: flex;
	flex-direction: row;
	
	align-items: center;
	color:	black;
	font-size:30px;
	font-family: Stencil Std, fantasy;
	font-style: normal;
	font-weight: bold;}
.feel-free
{
	position: absolute;
	left: 0%;
	top: 30%;
	right: 50%;
	bottom: 70%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:black;
	font-size:20px;
	font-family: Zapf Chancery, cursive;
	font-style: normal;
	font-weight: bold;
}
.contact-matter
{
	position: absolute;
	left: 0%;
	top: 40%;
	right: 50%;
	bottom: 0%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: 	#FFFFE0;
	font-size:15px;
	font-family: Stencil Std, fantasy;
	font-style: normal;
	font-weight: bold;	
}
.fourth-sem{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:	white;
	font-size:30px;
	font-family: Stencil Std, fantasy;
	font-style: normal;
	font-weight: bold;
}
.fourth-sem-topics
{
	position: absolute;
	height:20%;
	left: 0%;
	top: 40%;
	right: 0%;
	bottom: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size:25px;
}
.fourth-sem-topics>li>a
{
	text-decoration: none;
	color: white;
}
.second-sem{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:	white;
	font-size:30px;
	font-family: Stencil Std, fantasy;
	font-style: normal;
	font-weight: bold;
}
.second-sem-topics
{
	position: absolute;
	height:20%;
	left: 0%;
	top: 40%;
	right: 0%;
	bottom: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size:30px;
}
.second-sem-topics>li>a
{
	text-decoration: none;
	color: white;
}

.third-sem{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:	white;
	font-size:30px;
	font-family: Stencil Std, fantasy;
	font-style: normal;
	font-weight: bold;
}
.third-sem-topics
{
	position: absolute;
	height:20%;
	left: 0%;
	top: 40%;
	right: 0%;
	bottom: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size:20px;
}
.third-sem-topics>li>a
{
	text-decoration: none;
	color: white;
}

.fifth-sem{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:	white;
	font-size:30px;
	font-family: Stencil Std, fantasy;
	font-style: normal;
	font-weight: bold;
}
.fifth-sem-topics
{
	position: absolute;
	height:20%;
	left: 0%;
	top: 40%;
	right: 0%;
	bottom: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size:25px;
}
.fifth-sem-topics>li>a
{
	text-decoration: none;
	color: white;
}

.first-sem{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:	white;
	font-size:20px;
	font-family: Stencil Std, fantasy;
	font-style: normal;
	font-weight: bold;
}
.topics-first-sem
{
	position: absolute;
	height:20%;
	left: 0%;
	top: 40%;
	right: 0%;
	bottom: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size:25px;
}
.topics-first-sem>li>a
{
	text-decoration: none;
	color: white;
}

.sub-maths-second{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:	white;
	font-size:30px;
	font-family: Stencil Std, fantasy;
	font-style: normal;
	font-weight: bold;
}
.maths-topics-second
{
	position: absolute;
	height:20%;
	left: 0%;
	top: 40%;
	right: 0%;
	bottom: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size:30px;
}
.maths-topics-second>li>a
{
	text-decoration: none;
	color: white;
}

.sixth-sem{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:	white;
	font-size:30px;
	font-family: Stencil Std, fantasy;
	font-style: normal;
	font-weight: bold;
}
.sixth-sem-topics
{
	position: absolute;
	height:20%;
	left: 0%;
	top: 40%;
	right: 0%;
	bottom: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size:25px;
}
.sixth-sem-topics>li>a
{
	text-decoration: none;
	color: white;
}

.eigth-sem{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:	white;
	font-size:30px;
	font-family: Stencil Std, fantasy;
	font-style: normal;
	font-weight: bold;
}
.eigth-sem-topics
{
	position: absolute;
	height:20%;
	left: 0%;
	top: 40%;
	right: 0%;
	bottom: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size:30px;
}
.eigth-sem-topics>li>a
{
	text-decoration: none;
	color: white;
}

.faq
{
	position: absolute;
	left: 0px;
	top: 2%;
	right: 0px;
	bottom: 40%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:white;
	font-size:22px;
	font-family: sans-serif;
	font-style: italic;
	font-weight: bold;
	
}
.faq-font{
	position: absolute;
	left: 30%;
	top: 110%;
	right: 30%;
	bottom: 10;
	height: 30%;
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:	white;
	font-size:40px;
	font-family: Stencil Std, fantasy;
	font-style: normal;
	font-weight: bold;
}
.seventh-sem{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:	white;
	font-size:30px;
	font-family: Stencil Std, fantasy;
	font-style: normal;
	font-weight: bold;
}
.seventh-sem-topics
{
	position: absolute;
	height:20%;
	left: 0%;
	top: 40%;
	right: 0%;
	bottom: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size:30px;
}
.seventh-sem-topics>li>a
{
	text-decoration: none;
	color: white;
}


.page-content-container{
	position: relative;
	height: calc(100% - 90px);
}
.page-content-wrapper{
	position: absolute;
	left: 0px;
	top: 10px;
	right: 0px;
	bottom: 325px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:	white;
	font-size:30px;
	font-family: Stencil Std, fantasy;
	font-style: normal;
	font-weight: bold;
}
.nav-list{
	display: flex;
	flex-direction: row;
	list-style: none;
}
.nav-list-item{
	color: white;
	margin: 0px 50px;
}
.nav-list-item>a{
	text-decoration: none;
	color: #CCC;
	display: block;
	margin-right:100px;
}
.nav-list-item>a:hover{
	color: white;
}
.nav-list-item>a>i{
	margin-right: 5px;
}
.brand-name{
	text-decoration: none;
	color: #EEE;
	font-size: 18px;
	font-weight: bold;
	margin-left: 20px;
}
.brand-name>i{
	margin-right: 5px;
}
.access{
	position: absolute;
	left: 30%;
	top: 50%;
	right: 50%;
	bottom: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size:15px;
	}
.access>h1>a{
	font-family: Apple Chancery, cursive;
	color:	#F0FFFF;
	
	background-color: transparent;
	padding: 3px;
	
}
.upload{
		position: absolute;
	left: 50%;
	top: 50%;
	right: 30%;
	bottom: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size:15px;
	}
.upload>h1>a{
	font-family: Apple Chancery, cursive;
	color:	#F0FFFF;
	
	background-color: transparent;
	padding: 3px;
}
.description{
	position:absolute;
	left: 25%;
	top: 65%;
	right: 20%;
	bottom: 0%;
	font-family: URW Chancery L, cursive;
	color: white;
	font-size: 25px;

}

footer{
	height: 40px;
	background-color: #696969;
}